@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
:root {
    --header-bg-color: #4c3fc7;
    --header-height: 4rem;
    --text-color: white;
    --body-bg-color: #022035;
    --button-color: #0046ce;
    --button-hover: #00a5ff;
    --border-radius-1: 3px;
    --border-radius-2: 5px;
    --category-bg-color: #332c71;
    --card-color: #353682;
    --card-hover-color: #282164;
    --lighter-background-bg: #272a5b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: .7rem;
    /* background-color: var(--body-bg-color); */
    background: transparent;
    opacity: 1;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    width: 2rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--header-bg-color);
}

.bt {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: var(--border-radius-1);
    border: none;
    transition: all 250ms ease;
    text-decoration: none;
}

.bt:hover {
    text-decoration: none;
}

.containeR {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--body-bg-color);
    display: grid;
    place-items: center;
    grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
}

.containeR header {
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-color);
}

header .nav-bar {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    color: var(--text-color);
}

.left-nav {
    position: absolute;
    left: 0;
}

.middle-nav {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.middle-nav .nav-dest {
    color: var(--text-color);
    margin-left: 5rem;
    transition: all 300ms ease;
    text-decoration: none;
}

.middle-nav .nav-dest:hover {
    color: aqua;
    text-decoration: underline;
}

.menu-bar,
.close-bar {
    display: none;
}

.right-nav {
    display: none;
}


/* ..............END OF NAVIGATION............. */

.main-and-footer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.main-container {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
}

.welcome-page {
    position: relative;
    margin-top: 10vh;
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-welcome-page {
    min-height: 85%;
    width: 52.5%;
    position: absolute;
    left: -50rem;
    margin-right: 2.5%;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 2rem;
    animation: slideleft 500ms ease forwards;
}

@keyframes slideleft {
    to {
        left: 0;
    }
}

.left-welcome-page>h2 {
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    font-size: 2.5rem;
}

.left-welcome-page>h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    height: fit-content;
    font-size: 1.3rem;
    line-height: 2rem;
}

#get-started {
    width: fit-content;
    height: fit-content;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    border: 1px solid var(--header-bg-color);
    transition: all 300ms ease;
}

#get-started:hover {
    background-color: var(--card-color);
    transform: scale(1.05);
}

.right-welcome-page {
    position: absolute;
    right: 0;
    top: -50rem;
    height: 85%;
    width: 45%;
    background-color: var(--body-bg-color);
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    animation: slidedown 500ms ease forwards;
}

@keyframes slidedown {
    to {
        top: 1.2rem;
    }
}

.welcome-img {
    height: 100%;
    width: 100%;
}


/* .............END OF WELCOME PAGE............. */

.category-section {
    margin-top: 5vh;
    height: 105vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
}

.category-section-cont {
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    background-color: #272a5b;
    border-radius: 1rem;
}

.left-category {
    width: 45%;
    display: grid;
    grid-template-rows: auto;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.left-category-heading {
    height: fit-content;
}

.left-category-heading>h3 {
    font-family: 'Montserrat', sans-serif;
}

.left-category-main {
    height: fit-content;
}

.left-category-foot {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
}

.left-category-foot .learn-more {
    width: fit-content;
    height: fit-content;
    background-color: #00a5ff;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    border-radius: var(--border-radius-2);
    transition: all 300ms ease;
}

.learn-more:hover {
    background-color: var(--header-bg-color);
    transform: scale(1.1);
    text-decoration: none;
}

.right-category {
    margin-left: 1rem;
    width: 55%;
    display: flex;
    align-items: center;
}

.right-category-cont {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.cat-box {
    background-color: var(--card-color);
    min-height: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--header-bg-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto;
    gap: 0.5rem;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
}

.cat-box:hover {
    background-color: #242757;
    background-color: var(--header-bg-color);
}

.cat-box-head {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
}


/* ....................END OF CATEGORY DESIGN............ */

.popular-course-section {
    margin-top: 20vh;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-bucket {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2rem calc(100% -7rem);
    /* background-color: orange; */
}

.course-bucket .head {
    margin-top: 10rem;
}

.course-bucket>h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    height: 2rem;
    /* background-color: red; */
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-bucket .course-main {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course-box {
    width: 100%;
    height: fit-content;
    background-color: var(--card-color);
    display: grid;
    grid-template-rows: 12rem auto;
    /* gap: 1rem; */
    border: 1px solid #242757;
    transition: all 300ms ease;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.course-box:hover {
    background: #282164;
    border: 1px solid var(--header-bg-color);
}

.course-box-top {
    height: 100%;
}

.course-box-top .course-img {
    border-top-left-radius: var(--border-radius-1);
    border-top-right-radius: var(--border-radius-1);
    width: 100%;
    height: 100%;
    margin: auto;
    filter: grayscale(100%);
}

.course-box .course-box-main {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.course-box h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    display: flex;
    text-align: center;
}

.course-box h5 {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5rem;
}

#learn-more-course {
    background-color: var(--button-hover);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    color: var(--text-color);
    transition: all 300ms ease;
}

#learn-more-course:hover {
    background-color: var(--button-color);
    font-size: 1.3rem;
}

.course-bottom {
    height: 30vh;
}


/* ..................END OF POPULAR COURSES.................. */

.freq-asked-qst {
    margin-top: 30vh;
    color: var(--text-color);
    width: 100%;
    height: fit-content;
}

.freq-qst-container {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: 3rem auto;
    gap: 1rem;
}

.freq-qst-top {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.freq-qst-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.question-box {
    height: auto;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto auto;
}

.add-and-close-and-text {
    background-color: var(--card-color);
    display: flex;
    flex-direction: row;
    height: 5rem;
    cursor: pointer;
}

.add-and-close-and-text-active {
    background-color: var(--header-bg-color);
    background-color: #00a5ff;
    display: flex;
    flex-direction: row;
    height: 5rem;
    cursor: pointer;
}

.add-and-close {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
    /* background-color: rebeccapurple; */
}


/* ..............ADD ICON........... */

.add-and-close .plus-icon {
    height: 100%;
    padding-top: 1.75rem;
}

.add-and-close .plus-icon-active {
    animation: active 100ms ease forwards;
}

@keyframes active {
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    75% {
        transform: scale(0.50);
    }
    100% {
        transform: scale(0.25);
    }
}


/* ................MINUS ICON................. */

.add-and-close .minus-icon {
    display: none;
    height: 100%;
    padding-top: 1.75rem;
}

.add-and-close .minus-icon-active {
    animation: active 100ms ease forwards;
}

@keyframes active {
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.75);
    }
    75% {
        transform: scale(0.50);
    }
    100% {
        transform: scale(0.25);
    }
}

.add-and-close-and-text h5 {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.collapsible {
    height: 100%;
    background-color: #242757;
    padding: 0.6rem;
    display: none;
}

.collapsible h6 {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.question-box>span {
    width: 10%;
    margin-left: 0.5rem;
}

.question-box>h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}


/* ..................END OF FREQ ASKED QUESTIONS............... */

.student-testimonial {
    height: auto;
    width: 100%;
    margin: 30vh 0;
    display: grid;
    grid-template-rows: 4rem auto;
    gap: 2rem;
    color: var(--text-color);
}

.student-test-heading {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-test-heading>h4 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.75rem;
}

.swiper {
    font-family: 'Montserrat', sans-serif;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 23rem 2rem;
    gap: 2rem;
}


/* 
.swiper-heading>h4 {
    color: var(--text-color);
} */

.swiper .swiper-wrapper {
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-wrapper .swiper-slide {
    height: 100%;
    padding: .55rem;
    background: var(--card-color);
    border-radius: 1rem;
    border: 1px solid var(--header-bg-color);
    cursor: grabbing;
    transition: all 300ms ease;
}

.swiper-slide:hover {
    background-color: var(--header-bg-color);
    transform: scale(.91);
}

.student-test {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    border-radius: .55rem;
}

.student-test .student-profile {
    /* background-color: brown; */
    display: grid;
    grid-template-rows: auto;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

.student-profile>img {
    height: 3.5rem;
    width: 3.5rem;
    background-color: #00a5ff;
    border-radius: 100%;
    margin: 0 auto;
}

.student-profile>h4 {
    margin-top: .75rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.student-profile>h6 {
    display: flex;
    justify-content: center;
    font-size: .9rem;
}

.student-test .test-note {
    background-color: #474892;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    border-bottom-left-radius: .55rem;
    border-bottom-right-radius: .55rem;
    border: 1px solid var(--header-bg-color);
    padding: .25rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    text-align: left;
    transition: all 300ms ease;
}

.test-note-hover {
    background-color: var(--card-color);
}

.swiper-pagination {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .......................FOOTER SECTION............ */

footer {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.footer-container {
    background-color: var(--card-color);
    width: 100%;
    height: 40vh;
    color: var(--text-color);
    display: grid;
    grid-template-rows: auto 4rem;
}

.footer-container .top-foot {
    width: 85%;
    margin: auto auto;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.column {
    /* gap: 2rem; */
    font-family: 'Montserrat', sans-serif;
}

.column-head {
    font-size: 1.1rem;
    height: 2.2rem;
}

.column-body {
    font-size: .9rem;
    height: 1.9rem;
}

.school-social {
    margin-right: 1.3rem;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

#email {
    cursor: pointer;
}

#email:hover {
    color: var(--button-hover);
}

.bottom-foot {
    height: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 11rem;
    font-size: 1.1rem;
    font-weight: 50;
    border-top: 1px solid var(--header-bg-color);
}

.bottom-foot>span {
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    /* font-size: 1.; */
}

.color1 {
    color: #000003;
}

.color2 {
    color: #252746;
}

.color3 {
    color: #575891;
}

.color4 {
    color: #9390e7;
}

.color5 {
    color: #d9cfff;
}