.main-container {
    margin-top: 15vh;
}

.swiper {
    width: 100%;
    height: 60vh;
    /* background: greenyellow; */
    display: flex;
    flex-direction: column;
}

.swiper-wrapper {
    height: 80%;
    width: 100%;
    background-color: brown;
}

.swiper-wrapper .swiper-slide {
    background-color: cyan;
    height: 100%;
}

.swiper-pagination {
    height: 20%;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}